.App {
    text-align: center;
    #quote-box{
        background-color: white;
        //color: black;
        border-radius: 5px;
        padding: 35px 45px 35px 45px;
        max-width: 28%;
        font-family: 'Roboto', sans-serif;
        //min-width: 25%;

        #author{
            text-align: end;
        }
        
        #tweet-quote, #new-quote {
            border: none;
            margin-top: 25px;
            //padding: 10px 20px 10px 20px;
        }
        /*.button{
            #tweet-quote{
                float: left;
                padding: 10px;
                text-decoration: none;
                color: white;
                border-radius: 10px;
            }
        }*/
        /*#new-quote{
            float: right;
            color: white;
            border-radius: 10px;
            padding: 10px;
            border: none;
            cursor:  pointer;
        }*/
    }
    .App-header {
        //background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(8px + 2vmin);
        color: white;
        //border: solid 40px;
    }
}